@media (100px <= width <= 700px) {
  .about {
    max-height: 35vh;
    overflow-y: scroll;
  }
}

.aboutImages {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.aboutImage {
  width: clamp(20%, 20%, 20rem);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  /* overflow: hidden; */
  cursor: pointer
}