.inputControlRoot {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	text-align: left;
	justify-content: space-between;
	gap: 0.5rem;

	> div {
		flex-direction: column;
	}
}


@media (100px <= width <= 700px) {
	.inputControlRoot {
		gap: 1rem;
	}
}