.virusPlotContainerRoot {
  margin-top: 2rem;
  min-width: 50%;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  align-self: flex-start;
  width: 100%;
}

.multiVirusPlotContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.virusPlotDisplayOptions {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  max-width: 100%;
}

/* Ensure all direct children (VirusPlot containers) grow equally */
.multiVirusPlotContainer > * {
  flex: min-content;
  min-width: max(30%, 300px); /* Ensure a minimum width for usability */
  max-width: 100%;
  display: flex;
}
