.virusPlotContainerRoot {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  align-self: flex-start;
}

@media (100px <= width <= 700px) {
  .virusPlotContainerRoot {
    margin-top: 0rem; /* taken care of by appRoot gap */
  }
  
}

.multiVirusPlotContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  /* width: 100%; */
}


@media (100px <= width <= 700px) {
  .multiVirusPlotContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
  }
}

.virusPlotDisplayOptions {
  display: flex;
  flex-direction: row;
  width: calc(100% - 1rem);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.simulationSelector {
  flex-grow: 1;
  min-width: 10rem; /* Ensure a minimum width for usability */
}

/* Ensure all direct children (VirusPlot containers) grow equally */
.multiVirusPlotContainer > * {
  flex: min-content;
  min-width: clamp(20rem, 40%, 100%); /* Ensure a minimum width for usability */
  max-width: 100%;
  display: flex;
}
