.virusPlotContainerRoot {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  align-self: flex-start;
}

.multiVirusPlotContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  width: calc(100% - 4rem);
}

.virusPlotDisplayOptions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.simulationSelector {
  flex-grow: 1;
  min-width: 10rem; /* Ensure a minimum width for usability */
}

/* Ensure all direct children (VirusPlot containers) grow equally */
.multiVirusPlotContainer > * {
  flex: min-content;
  min-width: max(30%, 300px); /* Ensure a minimum width for usability */
  max-width: 100%;
  display: flex;
}
