.appRoot {
  margin: 2rem;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}


@media (100px <= width <= 700px) {
  .appRoot {
    margin: 1rem;
    width: calc(100% - 3rem);
    flex-direction: column;
    justify-content: space-between;
  }
}