/* Light and dark themes */
:root {
  --background-color-light: rgba(255, 255, 255, 0.75);
  --background-color-dark: rgba(20, 20, 20, 0.75);

  --content-background-color-light: rgba(255, 255, 255, 0.9);
  --content-background-color-dark: rgba(20, 50, 50, 0.9);

  --font-color-light: rgba(60, 60, 60, 1);
  --font-color-dark: rgba(255, 255, 255, 1);

  --font-color-error-light: rgba(200, 50, 50, 1);
  --font-color-error-dark: rgba(255, 0, 0, 1);
}

:root {
  background-color: var(--background-color-light);
  color: var(--font-color-light);

}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--background-color-dark);
    color: var(--font-color-dark);
  }
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  font-size: 1.6rem;
}
